USE [master]
GO
/****** Object:  Database [parmod]    Script Date: 10/11/2019 10:54:34 PM ******/
CREATE DATABASE [parmod]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'parmod', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\parmod.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'parmod_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\parmod_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [parmod].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [parmod]
GO
/****** Object:  Table [dbo].[admin]    Script Date: 10/11/2019 10:54:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin](
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[student]    Script Date: 10/11/2019 10:54:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student](
	[Id] [int] NOT NULL,
	[stu_name] [varchar](40) NULL,
	[stu_batch] [varchar](30) NULL,
	[stu_stream] [varchar](40) NULL,
	[stu_email] [varchar](30) NULL,
	[stu_mno] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[student_register]    Script Date: 10/11/2019 10:54:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student_register](
	[username] [varchar](40) NOT NULL,
	[password] [varchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[admin] ([username], [password]) VALUES (N'admin', N'admin')
INSERT [dbo].[student] ([Id], [stu_name], [stu_batch], [stu_stream], [stu_email], [stu_mno]) VALUES (1, N'parmod', N'2018', N'IT', N'parmod@gmail.com', N'67878787878')
INSERT [dbo].[student] ([Id], [stu_name], [stu_batch], [stu_stream], [stu_email], [stu_mno]) VALUES (2, N'gurpreet', N'2018', N'IT', N'gurpreet@gmail.com', N'89878787878')
INSERT [dbo].[student_register] ([username], [password]) VALUES (N'gurpreet', N'123')
INSERT [dbo].[student_register] ([username], [password]) VALUES (N'parmod', N'123')
ALTER TABLE [dbo].[student]  WITH CHECK ADD FOREIGN KEY([stu_name])
REFERENCES [dbo].[student_register] ([username])
GO
USE [master]
GO
